<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:label="Play Store Spoofer"
        android:hasCode="true"
        android:icon="@drawable/ic_launcher_background">
        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data android:name="xposeddescription" android:value="Spoofs Play Store presence" />
        <meta-data android:name="xposedminversion" android:value="93" />
    </application>
</manifest>
